.block_skillList{
    width: 80%;
    transition: .5s;
}

.skillsList{
    display: grid;
    width: 100%;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-left: 0px;  
    opacity: 0;
    transition: .5s;
}
.skillItem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-family: Gilroy;
    font-size: small;
    font-weight: bold;
    color: white;
    border: solid white 2px;
}
@keyframes appearing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
